<app-header></app-header>

<app-image></app-image>
<section class="u-clearfix u-white u-section-2" id="sec-4825">
  <div class="u-clearfix u-sheet u-sheet-1">
    <p class="u-custom-font u-text u-text-default u-text-1">
      ข่าวประชาสัมพันธ์
    </p>
    <div *ngFor="let art of articles" class="col-sm-12">
      <!-- <img *ngIf="isShow" [src]='imgLoad' [width]="imgWidth" /> -->
      <br *ngIf="!isShow">
      <div class="card" a>
        <img *ngIf="art.urlToImage" onError="this.src='./assets/images/catalog-default-img.png'" class="card-img-top"
          [src]="art.urlToImage" width="530" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{ art.title }}</h5>
          <p class="card-text">{{art.description }}</p>
          <div class="parent">
            <div class="child1">
              <p class="card-text">
                <small class="text-muted">{{ art.source?.name }}</small>
              </p>
            </div>
            <div class="child2">
              <p class="card-text">
                <!--small class="text-muted">{{ art?.publishedAt | date: 'วันที่ dd/MM/YYYY เวลา HH:mm น.' }}</+small-->
                <small class="text-muted">{{ art?.publishedAt | date: 'medium' | adtobe }}</small>
              </p>
              <a [href]="art.url" target="_blank" class="btn btn-primary">อ่านต่อ</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<br>
<span style="
        height: 64px;
        width: 64px;
        margin-left: 0px;
        margin-right: auto;
        margin-top: 0px;
        background-image: none;
        right: 20px;
        bottom: 20px;
      " class="u-back-to-top u-icon u-icon-circle u-opacity u-opacity-85 u-palette-1-base u-spacing-15" data-href="#">
  <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 551.13 551.13">
    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-1d98"></use>
  </svg>
  <svg class="u-svg-content" enable-background="new 0 0 551.13 551.13" viewBox="0 0 551.13 551.13"
    xmlns="http://www.w3.org/2000/svg" id="svg-1d98">
    <path d="m275.565 189.451 223.897 223.897h51.668l-275.565-275.565-275.565 275.565h51.668z"></path>
  </svg>
</span>
